APP_KEY=-change-this-
APP_ENV=local
APP_HOST=https://localhost:48150
APP_VERSION=0.1.0



CACHE_USE=default
CACHE_DEFAULT_DRIVER=redis
CACHE_DEFAULT_HOST=127.0.0.1
CACHE_DEFAULT_PORT=6379



CONTAINER_AUTOWIRE=true
CONTAINER_SHARE=false



DATABASE_USE=default
DATABASE_DEFAULT_DRIVER=sqlite
DATABASE_DEFAULT_DATABASE=storage/database/default.sqlite
DATABASE_DEFAULT_HOST=
DATABASE_DEFAULT_PORT=
DATABASE_DEFAULT_USERNAME=
DATABASE_DEFAULT_PASSWORD=

DATABASE_MIGRATIONS_TABLE=_migrations
DATABASE_MIGRATIONS_PATH=storage/database/migrations
DATABASE_MIGRATIONS_CONNECTION=default

DATABASE_SEEDS_PATH=storage/database/seeds
DATABASE_SEEDS_CONNECTION=default



LOGGER_LEVEL=debug
LOGGER_FILEPATH=storage/logs/app.log



MAILER_USE=file
MAILER_TO_NAME=
MAILER_TO_ADDRESS=
MAILER_FROM_NAME=
MAILER_FROM_ADDRESS=

MAILER_FILE_FILEPATH=storage/logs/mail.log

MAILER_SENDMAIL_PARAMS=

MAILER_SMTP_HOST=
MAILER_SMTP_PORT=
MAILER_SMTP_USERNAME=
MAILER_SMTP_PASSWORD=
MAILER_SMTP_SECURITY=



QUEUE_USE=default
QUEUE_DEFAULT_DRIVER=beanstalk
QUEUE_DEFAULT_HOST=127.0.0.1
QUEUE_DEFAULT_PORT=11300



SECURITY_JWT_ALGORITHM=HS384
SECURITY_RATE_LIMITER_REQUESTS=100
SECURITY_RATE_LIMITER_INTERVAL=60



VIEWS_USE=pop
VIEWS_USE_CACHE=false
VIEWS_CACHE_PATH=storage/views
VIEWS_TEMPLATES_PATHS=app/Views
VIEWS_COMPACT=false
